
body
{
 font-family: Arial;
 background-color: #FFFACD;
}

h1 {
  text-align: center;
  color: Black;
	font-size: 3em;
	background-color: lightgrey;
  border: solid darkgrey;
}
#article {
  margin: 0 auto;
  width: 960px;
}
#article p {
  margin: 10px;
	float: left;
  border: 1px solid green;
}
#gallery {
	margin: auto;
}
#gallery img {
	width: 230px;
	padding: 4px;
	filter: grayscale(100%);
	transition: 1s;
}
#gallery img:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}

#lightbox {
  position: absolute;
  width: 90%;
  height: 90%;
  margin: 5% auto;
	display: none;
	background-color: lightgrey;
}

#lightbox img {
	height: 80%;
	width: 50%;
  margin: 25px;

}
